.basic-btn {
	color: #444; 
	background-color: #cecece; 
	font-family: century gothic; 
	box-shadow: none; 
}

.basic-btn:hover {
	background-color: #A9A9A9;
}

.btn-link {
	background:none;
    color:inherit;
    border:none; 
    padding:0;
    margin:0;
    font: inherit;
    cursor: pointer;
    outline-color: transparent;
}

#login-btn {
	padding: 5px 15px;
	font-size: 16px; 
	border-radius: 0; 
}

#chkType {
	padding: 5px 15px;
	font-size: 16px; 
	border-radius: 0; 
}

#publish-btn {
	padding: 5px 15px;
	font-size: 18px; 
	border-radius: 0; 
}

.votedUp {
	color: blue;
}

.votedDown {
	color: red;
}

ul {
	padding: 0;
	list-style-type: none;
	
}

li a {
	border-bottom: 1px solid #1b2e4b;
}


/* The sidenav */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #223A5E;
  font-size: 24px;
  font-family: century gothic;
  color: white;
  overflow-x: hidden;
  align-items: stretch;
  min-width: 300px;
}

 .side-panel-button {
 	font-size: 22px;
 	display:block;
 	word-wrap: break-word; 
 	padding: 15px 20px;  
 	text-decoration: none;
 	color: white;
 }
 .side-panel-button:hover {
	text-decoration: none;
	color: white;
	background-color: #1b2e4b;
 }
 .side-panel-button:visited {
	text-decoration: none;
	color: white;
	background-color: #1b2e4b;
 }
 
@media screen and (max-width : 1204px){
  .side-panel
  {
    font-size:16px;
  }

}

/* CHAT WINDOW */
.LiveChat{
	 position:fixed;
	 bottom:0;
	 right:2%;
	 height:40%;
	 min-height: 300px;
	 width: 400px;
	 background-color: white;
	 border: #223A5E 0.5px solid;		
	 table-layout:fixed;	 
	 min-width: 300px;
	 display: none;
 }
 
/* .LiveChat-head{ */
/* 	text-align: center; */
/* 	background-color: #223A5E; */
/* 	color:white;  */
/* 	padding: 0; */
/* 	margin: 0; */
/* 	display: none; */
/* } */
 
#CWindow {
  	text-align: left;
  	color: black;
 	width: 100%; 
 	height: 65%; 
 	display: inline-block; 
 	overflow-y: auto;	
 	margin: 10px 0;
}
 
#InpArea {
 	position: relative; 
 	width:100%;
}

#LiveChat-close{
	text-align: center;
	background-color: #223A5E;
	color:white; 
	width: 100%;
	height: 35px;
	border: 0;
	font-family: century gothic; 
	font-size: 16px;
}

#LiveChat-open{
	position: fixed;
	right:2%;
	bottom: 0;
	text-align: center;
	background-color: #223A5E;
	color:white; 
	width: 250px;
	height: 40px;
	border: 0;
	font-family: century gothic; 
	font-size: 16px;
}

.LiveChat .Form {
	width: 90%;
	margin: 0 5%; 
}

.circle{
	right: 0;
	bottom: 5px;
	margin: 0 5px;
	width: 25px;
    height: 25px;
    background: red;
    color: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
}

.circle p {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* LiveChat containers */
.msgContainer {
    height:auto;
    padding-bottom: 10px;
    margin-right: 3px;
}

.botmsgContainer {
	height:auto;
    padding-bottom: 10px;
    margin-left: 3px;
}

.msgContainer p {
	border: 1px solid #dedede;
    background-color: #d9d9d9;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    word-break: keep-all;
    text-align:left;
}

.botmsgContainer p {
	border: 1px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    word-break: keep-all;
    text-align: left;
}

.msgLabel {
	font-size: 11px;
	color: green;
	margin-right: 5px;
	line-height: 5px;
}

.msgBotLabel {
	font-size: 11px;
	color: blue;
	margin-left: 5px;
	line-height: 5px;
}

/* SCROLL BAR - LIVE CHAT */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#arrow-left {
	border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#arrow-down {
	border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* GREETING DROPDOWN MENU FOR LOGOUT */
.dropbtn {
    background-color: transparent;
    color: #444;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: century gothic; 
}


.dropdown {
    position: relative;
    display: inline-block;
}

.profile-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profile-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}