<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title> Course Guru </title>
		<!-- <link rel="stylesheet" href="{# static 'css/answers.css' #}"> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	</head>
	<body>
		<table width="40%" align="Center" style="background-color: grey;">
			<tr>
				<td height="50px" style="text-align: center; font-size: 30px; color: #FFFFFF; font-family: century gothic;">
					Course Guru
				</td>
			</tr>
		</table>
		<br><br>

		<table width="40%" align="Center" style="background-color: grey; border-radius: 10px;" cellspacing="0" cellpadding="0">

			<tr>
				<td style="text-align: center; padding:10px; font-size: 22px; color: #FFFFFF; font-family: century gothic;">
					[Course Name] Forum - Answers
				</td>
			</tr>
			<tr>
				<td height="3px" style="background-color: #AEADAD;"></td>
			</tr>
			<tr>
				<td style="padding:10px; font-size: 20px; color: #FFFFFF; font-family: century gothic;">
					{{Title.question}}
				</td>
			</tr>
			<tr>
				<td height="3px" style="background-color: #AEADAD;"></td>
			</tr>
			<tr>
				<td>
					<br>
					<form method="POST" action="" style="margin: 0 10%;">
						<label style="font-size: 16px; color: #FFFFFF; font-family: century gothic;">Enter an answer: </label><br>
						{% csrf_token %}
						
						<textarea id="ANS" type="text" name="ANS" rows="4" maxlength="180" style="resize: none; width: 100%;"></textarea>				
						<input type="submit" value="Enter">							

					</form>
					<br>
				</td>
			</tr>
			{% for a in answers %}
			<tr>
				<td style="border-style:collapse; color: #FFFFFF;">	
					<div style="padding: 5px;">User:</div>
					<div style="font-size: 20px; border-top: 2px solid #AEADAD; border-bottom: 2px solid #AEADAD; padding: 5px; ">{{a.answer}}</div>
					<label style="font-size: 12px; color: #FFFFFF; font-family: century gothic;">Was this answer helpful? </label><br>
					<div style="float:right;">
					<div class="voteUp" style="margin-left: 10px; margin-right: 10px; margin-top: 2px; margin-bottom: 2px;"><div><i class="fas fa-thumbs-up"></i></div></div>
					<div class="voteDown" style="margin-left: 10px; margin-right: 10px; margin-top: 2px; margin-bottom: 2px;"><div><i class="fas fa-thumbs-down vote"></i></div></div>
					</div>
					<div id="votingResult" style="float:right;">
					<span>X</span>
					</div>
					<!--<input class="vote" type="submit" name = rating value="Y">
					<input class="vote" type="submit" name = rating value="N"> -->
					<br>
				</td>		
			</tr>
			{% endfor %}
		</table>
		<script>
		var voteValue = 0;
  		//$( function() {
    	//$( "#dialog" ).("p").text(voteValue);
  		//} );
  		
  		$(function(){ 
  			$("#dialog").hide();
  		    $(".voteUp").click(function(){
  		    	
  		    		voteValue = voteValue + 1;
  		    		alert("Up-voted to " + voteValue);
  		    		$("#votingResult").html(voteValue);

  		    }); 
  		  $(".voteDown").click(function(){
	    
	    		voteValue = voteValue - 1;
	    		alert("Down-voted to " + voteValue);
	    		$("#votingResult").html(voteValue);

	    });
  		});
  		</script>
		
		<div id="dialog" title="Basic dialog">
  		<p>vote completed</p>
		</div>
		
		<iframe style="position:fixed; bottom: 0; right: 0;" src="/chatbot/" height="350px" width="350px"/>
	</body>
</html>

<!-- 		{ # for c in answerData # }
 			<tr>
				<td style=" padding:10px;">	
					<a href="/answer/?id={{c.id}}" style="cursor: pointer;">{{c.answer}}</a>	-->