<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title> Amesite Chat Responder </title>
		<!-- <link rel="stylesheet" href="{# static 'css/answers.css' #}"> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		<style>
			.LiveChat{
			 position:fixed;
			 bottom:0;
			 right:0;
			 height:35%;
			 width:20%;
			 border: black 1.5px solid;			 
			 }
			 .btn {
			 	text-decoration: none;
			 	cursor: pointer; 
			 	font-size: 18px; 
			 	font-family: century gothic; 
			 	color: #444;
			 }
			 
			 .btn:hover {
			 	text-decoration: underline;
			 }
		 </style>
	</head>
	<body>
		<header width="40%" align="center" height="50px" style="line-height: 56px; text-align: center; font-size: 30px; color: #444; font-family: century gothic; font-weight: normal;">
			Amesite Chat Responder	
		</header>
		<br>

		<table width="60%" align="Center">
			<tr>
				<td>
					<a href="/question/?id={{courseID}}" class="btn">< Back</a> 
					<div align="right" style="float: right; font-size: 18px; font-family: century gothic; color: #444;">
						Hi {{user.get_short_name}}!
						<br>
						<form method="POST" action=""> 
							{% csrf_token %}
							<input class="btn" type="submit" name="Logout" value="Logout" style="font-size: 16px; background-color: transparent; box-shadow: none; border: 0;">
						</form>
					</div>
					<br><br><br><br>
				</td>
			</tr>
			<tr>
				<td style="padding:10px; font-size: 26px; color: #444; font-family: century gothic;">
					{{Title.question}}
					<a href="/publishAnswer/?id={{Title.id}}&cid={{courseID}}" style="padding: 2px 10px; background-color: #cecece; float: right; cursor: pointer; font-size: 18px; font-family: century gothic; color: #444; text-decoration: none;">Submit an answer</a>
				</td>
			</tr>
			<tr>
				<td height="1.5px" style="background-color: #AEADAD;"></td>
			</tr>
		</table>
		<br>
		<table  width="60%" align="Center">
			<tr>
				<td style="color: grey; background-color: #EAECEE; padding:10px 10px 10px 5%; font-family: century gothic;">			
					{% if Title.user.status == "Teacher" %}
					<div style="font-size: 16px; color: #dfcd1a; float: left; background-color: #EAECEE;">{{Title.user.first_name}} {{Title.user.last_name}}</div>
					{% else %}
					<div style="font-size: 16px; color: green; float: left; background-color: #EAECEE;">{{Title.user.first_name}} {{Title.user.last_name}}</div>
					{% endif %}
					<div style="float: right; font-size: 14px; float: right;">Date Added: {{Title.date}}</div>			
				</td>
			</tr>
			<tr>
				<td style="color: grey; padding:10px 10px 10px 5%; font-family: century gothic;">
					<div style="font-size: 18px;">{{Title.comment}}</div>
					<br><br>
				</td>
			</tr>
			<tr>
				<td style="color: #444; font-size: 22px; padding:10px; font-family: century gothic;">
					{{numAnswers}} Answer(s)
				</td>
			</tr>
			<tr><td style="border-top: #AEADAD 3px solid;"> <br> </td></tr>
			
			{% for a in answers %}
			<tr>
				<td style="padding:10px 10px 10px 5%; color: grey; background-color: #EAECEE; font-family: century gothic;">
					{% if a.user.id == 38 %}	
					<div style="font-size: 16px; color: blue; float:left;">{{a.user.first_name}} {{a.user.last_name}}</div>
					{% elif a.user.status == "Teacher" %}
					<div style="font-size: 16px; color: #dfcd1a; float:left;">{{a.user.first_name}} {{a.user.last_name}} <font style="color: grey;">[Instructor]</font></div>
					{% else %}
					<div style="font-size: 16px; color: green; float:left;">{{a.user.first_name}} {{a.user.last_name}}</div>
					{% endif %}
					<div style="float: right; font-size: 14px;">Date Added: {{a.date}}</div>
				</td>
			</tr>
			<tr>
				<td style="padding:10px 10px 10px 5%; color: grey; padding-bottom: 20px; font-family: century gothic;">
					<div answer-rating="{{a.rating}}" style="font-size: 18px;float: left; width: 80%;">{{a.answer}}</div>
					<br>
					
					<div style="float:right;">
						<label style="font-size: 12px; color: grey; font-family: century gothic;">Was this answer helpful? </label><br>
						<form action="" method="POST">
							{% csrf_token %}
							<button name="voteUp" type="submit" value="{{a.id}}" style="border-radius: 5px; cursor: pointer;"><div><i class="fas fa-thumbs-up"></i></div></button>
							<button name="voteDown" type="submit" value="{{a.id}}" style="border-radius: 5px; cursor: pointer;"><div><i class="fas fa-thumbs-down vote"></i></div></button>
							&nbsp;{{a.rating}}
						</form>
					</div>
					<div id="votingResult" style="float:right;">
					<span></span>
					</div>
				</td>
			</tr>
			<tr><td style="border-top: #cecece 1px solid;"> <br> </td></tr>
			{% endfor %}
		</table>		
		<!--  <iframe style="position:fixed; bottom: 0; right: 0;" src="/chatbot/" height="35%" width="20%"/> -->
		<div class="LiveChat">
			<table width="100%" style="margin: 5px;">
				<tr>
					<td style="width: 95%; border: solid 1px; whitespace: nowrap; display: inline-block; overflow-y: scroll;">
						<div id="CWindow" style="height: 160px;">
							<p></p>
						</div>
					</td>
				</tr>
			</table>
			
			<div id="message" style="margin: 10px 5px; bottom: 0; width: 95%;">
				<textarea id="inp" type="text" name="cb" rows="4" maxlength="180" style="valign: top; resize: none; width: 100%;"></textarea>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{% static 'js/style.js' %}"></script>
	</body>
</html>
