<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title> Amesite Chat Responder </title>
		<link rel="stylesheet" href="{% static 'css/questions.css' %}">
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
		<meta name="viewport" content="width=device-width" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<header width="80%" align="center" height="50px" style="margin-left: calc(300px + 5%); margin-left: -moz-calc(300px + 5%); margin-right: 5%; line-height: 56px; text-align: center; font-size: 30px; color: #444; font-family: century gothic; font-weight: normal;">
			Course Answers
		</header>
		<br>
		
		<div id="mySidenav" class="sidenav">
			<div style="padding: 15px;  border-bottom: 3px solid #1b2e4b; background-color: #223A5E; ">
				<h1>
					Amesite Chat Responder
				</h1>
			</div>
			<ul>
				<li>
					<a class="side-panel-button" href="/question/?cid={{courseID}}"><i id="arrow-left"></i>Back to Questions</a> 
				</li>
				<li>
					<a class="side-panel-button" href="/roster/?cid={{courseID}}">Class Roster</a>
				</li>
				{% if user.status == "Teacher" or user.status == "TA" %}
				<li> 
					<a class="side-panel-button" href="/uploadDocument/?cid={{courseID}}">Upload Document</a>
				</li>
				{% endif %}
				<li>
					<a class="side-panel-button" href="/courseFiles/?cid={{courseID}}">Course Files</a>
				</li>
			</ul>
		</div>

		<table class="head-table">
			<tr>
				<td>
					<div class="dropdown">
						<button onclick="profileFunc()" class="dropbtn">Hi {{user.get_short_name}}! <i id="arrow-down"></i></button>
						  <div id="profileDropdown" class="profile-content">
						    <form method="POST" action=""> 
								{% csrf_token %}
								<button class="head-btn" type="submit" name="Logout" value="Logout" style=" ">Logout</button>
								<button class="head-btn" type="submit" name="Edit" value="Edit" style=" ">Edit Account</button>
							</form>
						  </div>
					</div>
					<br><br><br><br><br>
				</td>
			</tr>
			<tr> 
				<td>
					<div style="padding-bottom: 60px;">
						<form method = "POST" action="" >
							{% csrf_token %}
							{% if request.POST.query == None %}
							<input type="submit" class="btn btn-primary" value="SEARCH" style="float:right;"></input>
							<input type="text" class="form-control" name="query" placeholder="Search Posts" style="float: right; width:20%; margin-right: 10px;"></input>
							{% else %}
							<input type="submit" class="btn btn-primary" value="SEARCH" style="float:right;"></input>
							<input type="text" class="form-control" name="query" placeholder="Search Posts" value="{{request.POST.query}}" style="float: right; width:20%; margin-right: 10px;"></input>
							{% endif %}
						</form>
					</div>
				</td>
			</tr>	
			<tr>
				<td style="padding:5px; font-size: 26px; color: #444; font-family: century gothic;">
					{{Title.question}}	
					<form action="" method="POST" style="float: right;">	
						{% csrf_token %}
						{% if resolved != True %}
						<a href="/publishAnswer/?id={{Title.id}}&cid={{courseID}}" class="btn basic-btn" id="publish-btn" style="float: right;">Submit an answer</a>
						{% endif %}
						{% if user.id == Title.user.id or user.status == "Teacher" %}
						<button type="submit" onclick="return confirm('Are you sure you want to delete this post?')" class="btn btn-danger" id="ThreadDel" name="delQues" value="{{Title.id}}">Delete Question</button>		
						{% endif %}
					</form>
				</td>
			</tr>			
			<tr>
				<td height="3px" style="background-color: #AEADAD;"></td>
			</tr>	
		</table>
		
		<table  width="70%" align="Center" style="border-spacing: 0; margin-left: calc(300px + 5%); margin-left: -moz-calc(300px + 5%); margin-right: 5%; margin-bottom: 50px;">
			<tr>
				<td style="color: grey; background-color: #EAECEE; padding:10px 10px 10px 3%; font-family: century gothic;">			
					
					<div style="font-size: 16px; color: green; float: left; background-color: #EAECEE;">{{Title.user.first_name}} {{Title.user.last_name}} {% if Title.user.status == "Teacher" %}<font style="color: grey;">[Instructor]</font>{% endif %}</div>
					<div style="float: right; font-size: 14px; float: right;">Date Added: {{Title.date}}</div>			
				</td>
			</tr>
			<tr>
				<td style="color: grey; padding:10px 10px 10px 3%; font-family: century gothic;">
				<br>
					<div style="font-size: 18px;">{{Title.comment}}</div>
					<br><br>
				</td>
			</tr>
			<tr>
				<td style="color: #444; font-size: 22px; padding:10px; font-family: century gothic;">
					{{numAnswers}} Answer(s)
					
<!-- 					<form action="" method="POST" style="float: right; display: inline;">
					{% csrf_token %}
					{% if resolved == True and user.id == Title.user.id %}
						<button type="submit" onclick="return confirm('Are you sure you want to unresolve this post?')" class="btn btn-warning" name="unresolve" style="margin-right: 5px">Unresolve</button>
  					{% endif %}
					</form> -->
				</td>
			</tr>
			<tr><td style="border-top: #AEADAD 3px solid;"> </td></tr>
			
			{% for a in answers %}
 				{% if a.resolved == True %}
				<tr>
					<td style="padding: 0px 0px 0px 3%; background-color: #EAECEE; color: grey; font-family: century gothic;">
						<div style="font-size: 14px; color: green; float: left">Best Answer Chosen By Original Poster</div>
					</td>
				</tr>
				{%endif%}
			
			<tr>
				<td style="padding:10px 10px 10px 3%; color: grey; background-color: #EAECEE; font-family: century gothic;">
					{% if a.user.id == 38 %}	
					<div style="font-size: 16px; color: blue; float:left;">{{a.user.first_name}} {{a.user.last_name}}</div>
					{% else %}		
					<div style="font-size: 16px; color: green; float:left;">{{a.user.first_name}} {{a.user.last_name}} {% if a.user.status == "Teacher" %}<font style="color: grey;">[Instructor]</font>{% endif %}</div>
					{% endif %}
					<div style="float: right; font-size: 14px;">Date Added: {{a.date}}</div>
				</td>
			</tr>
			<tr>
				<td style="padding:10px 10px 10px 3%; color: grey; padding-bottom: 20px; font-family: century gothic;">
					<div style="font-size: 18px;float: left; width: 80%; white-space: pre-line;">
						{% if a.user.id == 38 %}	
						{{a.answer|safe}}
						{% else %}	
						{{a.answer}}
						{% endif %}
					</div>
					<div>
						<form action="" method="POST" style="float: right; display: inline;">
							{% csrf_token %}
							{% if resolved == False and user.id == Title.user.id %}
								&nbsp;<button type="submit" onclick="return confirm('Are you sure you want to mark this as the best answer?')" class="btn btn-success" name="resolve" value="{{a.id}}">Resolve</button>
							{% endif %}
							{% if user.id == a.user.id or user.status == "Teacher" %}
							&nbsp;<button type="submit" onclick="return confirm('Are you sure you want to delete this answer?')" class="btn btn-danger" name="delAns" value="{{a.id}}">Delete</button>
							{% endif %}
						</form>	
					</div>
					<br>
					<div class="ratingArea" style="float: right; display: inline;">
						{% if user.id != a.user.id %}
							<label style="font-size: 12px; color: grey; font-family: century gothic;">Was this answer helpful? </label>
							<br>
							{% if a.id in upData %}
							<button name="voteUp" type="submit" value="{{a.id}}" id="voteUp" class="votedUp" onclick="vote(this,1,{{a.id}},{{user.id}});" style="border-radius: 5px; cursor: pointer;"><div><i id="voteUpImg" class="glyphicon glyphicon-thumbs-up"></i></div></button>
							{% else %}
							<button name="voteUp" type="submit" value="{{a.id}}" id="voteUp" onclick="vote(this,1,{{a.id}},{{user.id}});" style="border-radius: 5px; cursor: pointer;"><div><i id="voteUpImg" class="glyphicon glyphicon-thumbs-up"></i></div></button>
							{% endif %}
							{% if a.id in downData %}
							<button name="voteDown" type="submit" value="{{a.id}}" id="voteDown" class="votedDown" onclick="vote(this,0,{{a.id}},{{user.id}});" style="border-radius: 5px; cursor: pointer;"><div><i id="voteDownImg" class="glyphicon glyphicon-thumbs-down"></i></div></button>
							{% else %}
							<button name="voteDown" type="submit" value="{{a.id}}" id="voteDown" onclick="vote(this,0,{{a.id}},{{user.id}});" style="border-radius: 5px; cursor: pointer;"><div><i id="voteDownImg" class="glyphicon glyphicon-thumbs-down"></i></div></button>
							{% endif %}
							&nbsp;<span id="rating">{{a.rating}}</span><br><br>
						{% endif %}
					</div>
				</td>
			</tr>
			<tr><td style="border-top: #cecece 1px solid;"> </td></tr>
			{% endfor %}
		</table>
		
		<div class="LiveChat">	
			<button id="LiveChat-close">Amesite Chatbot</button>	
			<div id="CWindow">
				<div class="botmsgContainer"><p>Ask me anything about the course!</p><br><div class="msgBotLabel">Chatbot</div></div>
			</div>
			<div id="InpArea">	
				<input type="text" class="form-control Form" id="inp" name="cb" maxlength="180">
			</div>
		</div>
		<button id="LiveChat-open">Amesite Chatbot<span class="circle"><p>1</p></span></button>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{% static 'js/style.js' %}"></script>
	</body>
</html>