<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
  	<title> Course Guru </title>
  </head>
  <body>
  	
		<p id="test"></p>
		<div id="CWindow">
			<p></p>
		</div>
		
		<div id="message">
			<textarea id="inp" type="text" name="cb" rows="4" maxlength="180" style="resize: none; width: 100%;"></textarea>
		</div>
		<br><button id="submit">Enter</button>				
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="{% static 'js/style.js' %}"></script>
  </body>
</html>

<!--  <script src="{# static 'js/botchat.js' #}"></script>  -->