

<!DOCTYPE HTML>
<html>
	<head>
		<title> Testing </title>
	</head>
	<body>
		<table width="40%" align="Center">
			<tr>
				<td height="50px" style="background-color: grey; text-align: center; font-size: 30px; color: #FFFFFF; font-family: century gothic;">
					Course Guru
				</td>
			</tr>
			
			
			<tr>
				<td>
				<!--{% block content %}  -->
					<form  method="post">
						{% csrf_token %}
    					<label for="NQ">Ask a new question: </label>
   					 		<input id="NQ" type="text" name="NQ">
   							 <input type="submit" value="Enter">
					</form>
					<!-- {% endblock %} -->
					<br>
					<br>
					Recently Asked Questions:
					<tr>
				<td>
					{% for c in content %}
						<p>{{c}}</p>
					{% endfor %}
				</td>
			</tr>
		</table>
	</body>
</html>