

<!DOCTYPE HTML>
<html>
	<head>
		<title> Course Guru </title>
	</head>
	<body>
		<table width="40%" align="Center" style="background-color: grey;">
			<tr>
				<td height="50px" style="text-align: center; font-size: 30px; color: #FFFFFF; font-family: century gothic;">
					Course Guru
				</td>
			</tr>
		</table>
		<br><br>
		<table width="40%" align="Center" style="background-color: grey;">
			<tr>
				<td style="text-align: center; padding:10px; font-size: 22px; color: #FFFFFF; font-family: century gothic;">
					[Course Name] Forum - Questions
				</td>
			</tr>
			<tr>
				<td width="40%" height="3px" style="background-color: #AEADAD;"></td>
			</tr>
			<tr>
				<td>
					<form method="POST" action="" style="padding: 0 10% 0 10%;">
						<label style="font-size: 16px; color: #FFFFFF; font-family: century gothic;">Ask a new question: </label><br>
						{% csrf_token %}
						<textarea id="NQ" type="text" name="NQ" rows="4" cols="80%" maxlength="180" style="resize: none;"></textarea>
						<input type="submit" value="Enter">				
					</form>
					<br>
				</td>
			</tr>
			{% for c in content %}
			<tr>
				<td style=" padding:10px;">	
					<a href="/answer/?id={{c}}" style="cursor: pointer; font-size: 20px;">{{c}}</a>	
					<br>User:
				</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>

<!--		<a href="/answer/?id={{c.id}}" style="cursor: pointer;">{{c.question}}</a>	-->