<!DOCTYPE HTML>
<html>
	<head>
		<title>Course Guru Doc Parser</title>
	</head>
	<body>
		{% if error %} 
			{{error}}
		{%endif%}
			<form method="POST" action="" enctype="multipart/form-data" style="margin: 0 10%;">{% csrf_token %}				
				
				<input name='syllabusFile' type='file'>
				<input type="submit" name="submit" value="Upload Syllabus">
			</form>
	

		<p>{{convText}}</p>

<!--		<iframe style="position:fixed; bottom: 0; right: 0;" src="/chatbot/" height="350px" width="350px"/> -->
	</body>
</html>
