<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title> Amesite Chat Responder </title>
	</head>
	<body>    
		<header width="60%" align="center" height="50px" style="line-height: 56px; text-align: center; font-size: 30px; color: #444; font-family: century gothic; font-weight: normal;">
			Amesite Chat Responder	
		</header>
		<br>
		<table width="60%" align="Center">
			<tr>
				<td>
					<a href="/question/" style="cursor: pointer; font-size: 18px; font-family: century gothic; color: #444; text-decoration: none;">< Back</a> 
					<a href="/" style="cursor: pointer; font-size: 18px; font-family: century gothic; color: #444; text-decoration: none; float: right;">Login</a> 
					<br><br>
				</td>
			</tr>
			<tr>
				<td style="padding:5px; font-size: 22px; color: #444; font-family: century gothic;">
					Publish a question
				</td>
			</tr>
			<tr>
				<td height="3px" style="background-color: #AEADAD;"></td>
			</tr>
			<tr>
				<td><br></td>
			</tr>
			<tr>
				<td style="padding: 10px;">
					<form method="POST" action="" style="">
						<label style="font-size: 16px; color: grey; font-family: century gothic;">Title: </label><br>
						{% csrf_token %}
						<input type="text" name="NQ" rows="4" required="required" maxlength="180" style="resize: none; width: 50%;"></input>
						<br><br>
						<label style="font-size: 16px; color: grey; font-family: century gothic;">Comment: </label><br>
						{% csrf_token %}
						<textarea type="text" name="NQcom" rows="4" required="required" maxlength="180" style="resize: none; width: 50%;"></textarea>
						<br><br>
						<input type="submit" name="submit" value="Publish" style="cursor: pointer; font-size: 16px; color: #444; background-color: #cecece; font-family: century gothic; box-shadow: none; border: 0; padding: 5px 10px;">				
					</form>
					<br>
				</td>
			</tr>

		</table>
		
	</body>
</html>