<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title> Amesite Chat Responder </title>
		<link rel="stylesheet" href="{% static 'css/questions.css' %}">
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
		<meta name="viewport" content="width=device-width" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>    
		<header width="70%" align="center" height="50px" style="margin-left: calc(300px + 5%); margin-left: -moz-calc(300px + 5%); margin-right: 5%; line-height: 56px; text-align: center; font-size: 30px; color: #444; font-family: century gothic; font-weight: normal;">
			Course Questions	
		</header>
		<br>
		<div class="sidenav">
			<div style="padding: 15px;  border-bottom: 3px solid #1b2e4b; background-color: #223A5E; ">
				<h1>
					Amesite Chat Responder
				</h1>
			</div>
			<ul>
				<li>
					<a class="side-panel-button" href="/courses/"><i id="arrow-left"></i>Back to Course Selection</a> 
				</li>
				<li>
					<a class="side-panel-button" href="/roster/?cid={{courseID}}">Class Roster</a>
				</li>
				{% if user.status == "Teacher" or user.status == "TA" %}
				<li> 
					<a class="side-panel-button" href="/uploadDocument/?cid={{courseID}}">Upload Document</a>
				</li>
				{% endif %}
				<li>
					<a class="side-panel-button" href="/courseFiles/?cid={{courseID}}">Course Files</a>
				</li>
			</ul>
		</div>
		<div class="sidenav-shadow"></div>

		
		
		<table class="head-table">
			<tr>
				<td>
					<div class="dropdown">
						<button onclick="profileFunc()" class="dropbtn">Hi {{user.get_short_name}}! <i id="arrow-down"></i></button>
						  <div id="profileDropdown" class="profile-content">
						    <form method="POST" action=""> 
								{% csrf_token %}
								<button class="head-btn" type="submit" name="Logout" value="Logout" style=" ">Logout</button>
								<button class="head-btn" type="submit" name="Edit" value="Edit" style=" ">Edit Account</button>
							</form>
						  </div>
					</div>
					<br><br><br><br><br>
				</td>
			</tr>
			<tr> 
				<td>
				<label style="font-size: 16px; color: grey; font-family: century gothic;">Filter Questions:</label><br>
				<div style="padding-bottom: 60px">
						<form method = "POST" style="float:left; width:50%">
								{% csrf_token %}
								<select name="filterCategory" class="form-control" required="required" style="float:left; width:18%; border-radius: 5px 0 0 5px" >
								<option>{{filterCategory}}</option>
								{% if filterCategory != "All"%}
								<option value="All">All</option>
								{%endif%}
								{% if filterCategory != "Syllabus"%}
								<option value="Syllabus">Syllabus</option>
								{%endif%}
								{% if filterCategory != "Assignment"%}
								<option value="Assignment">Assignments</option>
								{%endif%}
								{% if filterCategory != "Lecture"%}
								<option value="Lecture">Lectures</option>
								{%endif%}
								{% if filterCategory != "Other"%}
								<option value="Other">Other</option>
								{%endif%}
								</select>
								{% csrf_token %}
								<input type="submit" name="filterSubmit" class="btn btn-primary" value="Filter" style = "border-radius: 0 5px 5px 0">	
						</form>
						<form method = "POST" action="" style="float: right; width:50%" >
							{% csrf_token %}
							{% if query.NoneType == None and request.POST.query == NULL and request.GET.query == NULL or query == '' or request.GET.query == 'None' %} 
							<button type="submit" class="btn btn-primary" value="SEARCH" style="float:right; border-radius: 0 5px 5px 0">Search</button>
							<input type="text" class="form-control" name="query" placeholder="Search Posted Questions" style="width:40%; float:right; border-radius: 5px 0 0 5px"></input>
							{% elif query.NoneType != None and request.GET.query != NULL %} 
							<button type="submit" class="btn btn-primary" value="SEARCH" style="float:right; border-radius: 0 5px 5px 0">SEARCH</button>
							<input type="text" class="form-control" name="query" placeholder="Search Posted Questions" value="{{request.GET.query}}" style="width:40%; float:right; border-radius: 5px 0 0 5px"></input>
							{% else%} 
							<button type="submit" class="btn btn-primary" value="SEARCH" style="float:right; border-radius: 0 5px 5px 0">SEARCH</button>
							<input type="text" class="form-control" name="query" placeholder="Search Posted Questions" value="{{query}}" style="width:40%; float:right; border-radius: 5px 0 0 5px"></input>
							{%endif%}
						</form>
					</div>
				</td>
			</tr>	
			<tr>
				<td style="padding:5px; font-size: 26px; color: #444; font-family: century gothic;">
					{{courseName.courseName}}
					<a href="/publish/?cid={{courseID}}" class="btn basic-btn" id="publish-btn" style="float: right;">Ask a question</a>
				</td>
				
			</tr>
			<tr>
				<td height="3px" style="background-color: #AEADAD;"></td>
			</tr>	
		</table>

		<table width="70%" align="Center" class="table-striped" style="border-spacing: 0;  float:left; margin-left: calc(300px + 5%); margin-left: -moz-calc(300px + 5%); margin-right: 5%; margin-bottom: 50px;">
			{% for c in content %}
			<tr>
				<td style=" padding:15px; border-bottom: 2px solid #AEADAD;">			
					<a class="question-hyperlink" href="/answer/?id={{c.id}}&cid={{courseID}}">{{c.question}}</a>	
					{% if user.id == c.user.id or user.status == "Teacher" %}
					<form method="POST" action="" margin="0" style="display: inline;">
						{% csrf_token %}
						<button type="submit" onclick="return confirm('Are you sure you want to delete this question and all of its associated answers?')" class="btn btn-danger" style="margin-top: -15px; border-radius: 0 0 10px 10px;" name="del" value="{{c.id}}" >Delete</button>
					</form>
					{% endif %}
					<br>
					<font style="font-size: 14px; color: green; font-family: century gothic;">{{c.user.first_name}} {{c.user.last_name}} <font style="color: grey;">asked on {{c.date}}</font></font> 	
				</td>			
			</tr>
			{% endfor %}
			{% if content.has_other_pages %}
			<tr><td style="background-color: white;">
				<div id="page-menu">
					<ul id="horiz-list" class="pagination">
						{% if content.has_previous %}
							<li><a class="nonactive" href="?cid={{courseID}}&filterCategory={{filterCategory}}&query={{query}}&page={{ content.previous_page_number }}">&laquo;</a></li>
						{% else %}
							<li class="disabled"><span>&laquo;</span></li>
						{% endif %}
						{% for i in content.paginator.page_range %}
							{% if content.number == i %}
								<li class="active"><span>&nbsp;{{ i }}&nbsp;<span class="sr-only"></span></span></li>
							{% else %}
								<li>&nbsp;<a class="nonactive" href="?cid={{courseID}}&filterCategory={{filterCategory}}&query={{query}}&page={{ i }}">{{ i }}</a>&nbsp;</li>
							{% endif %}			
						{% endfor %}
						{% if content.has_next %}
							<li><a class="nonactive" href="?cid={{courseID}}&filterCategory={{filterCategory}}&query={{query}}&page={{ content.next_page_number }}">&raquo;</a></li>
						{% else %}
							<li class="disabled"><span>&raquo;</span></li>
						{% endif %}
					</ul>
				</div>
			</td></tr>
			{% endif %}
		</table>
		<div class="LiveChat">	
			<button id="LiveChat-close">Amesite Chatbot</button>	
			<div id="CWindow">
				<div class="botmsgContainer"><p>You can ask me anything about this course.</p><br><div class="msgBotLabel">Chatbot</div></div>
			</div>
			<div id="InpArea">	
				<input type="text" class="form-control Form" id="inp" name="cb" maxlength="180">
			</div>
		</div>
		<button id="LiveChat-open">Amesite Chatbot<span class="circle"><p>1</p></span></button>
		
		<br><br><br><br><br><br>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{% static 'js/style.js' %}"></script>
	</body>
</html>
<!--		<a href="/answer/?id={{c.id}}" style="cursor: pointer;">{{c.question}}</a>	-->