<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title> Amesite Chat Responder </title>
		<link rel="stylesheet" href="{% static 'css/questions.css' %}">
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
		<meta name="viewport" content="width=device-width" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>    
		<header width="70%" align="center" height="50px" style="margin-left: calc(300px + 5%); margin-left: -moz-calc(300px + 5%); margin-right: 5%; line-height: 56px; text-align: center; font-size: 30px; color: #444; font-family: century gothic; font-weight: normal;">
			Course Roster	
		</header>
		<br>
		<div class="sidenav">
			<div style="padding: 15px;  border-bottom: 3px solid #1b2e4b; background-color: #223A5E; ">
				<h1>
					Amesite Chat Responder
				</h1>
			</div>
			<ul>
				<li>
					<a class="side-panel-button" href="/question/?cid={{courseID}}"><i id="arrow-left"></i>Back to Questions</a> 
				</li>
				<li>
					<a class="side-panel-button" href="/roster/?cid={{courseID}}">Class Roster</a>
				</li>
				{% if user.status == "Teacher" %}
				<li> 
					<a class="side-panel-button" href="/uploadDocument/?cid={{courseID}}">Upload Document</a>
				</li>
				{% endif %}
			</ul>
			
			<div class="LiveChat">	
				<h4 class="LiveChat-head">Amesite Chatbot</h4>	
				<div id="CWindow">
				
				</div>
				<div id="InpArea">	
					<input type="text" class="form-control Form" id="inp" name="cb" maxlength="180">
				</div>
			</div>
		</div>
		
		<table class="head-table">
			<tr>
				<td>
					<div class="dropdown">
						<button onclick="profileFunc()" class="dropbtn">Hi {{user.get_short_name}}! <i id="arrow-down"></i></button>
						  <div id="profileDropdown" class="profile-content">
						    <form method="POST" action=""> 
								{% csrf_token %}
								<button class="head-btn" type="submit" name="Logout" value="Logout" style=" ">Logout</button>
							</form>
						  </div>
					</div>
					<br><br><br><br><br>
				</td>
			</tr>
			<tr>
				<td style="padding:5px; font-size: 26px; color: #444; font-family: century gothic;">
					{{courseName.courseName}}
				</td>
				
			</tr>
			<tr>
				<td height="3px" style="background-color: #AEADAD;"></td>
			</tr>	
		</table>
		
		<table width="70%" align="Center" style="border-spacing: 0;  float:left; margin-left: calc(300px + 5%); margin-left: -moz-calc(300px + 5%); margin-right: 5%; margin-bottom: 100px;">
			<tr>
				<td style="padding: 10px;">
					{%if user.status == "Teacher"%}
					<form method="POST" action="" style="">
						<h3 style="font-size: 16px; color: red; font-family: century gothic;">{{credentialmismatch}}</h3>
						
						<div style="font-size: 20px; color: grey; font-family: century gothic;"><b>Add a student or teaching assistant to this course</b></div>
						<br>
						<label style="font-size: 18px; color: grey; font-family: century gothic;">Student/TA Username: </label><br>
						{% csrf_token %}
						<input type="text" name="newUser" class="form-control" required="required" maxlength="30" style="width: 50%;"></input>	
						<br>
						{% if userAdded %}
						<h3 style="font-size: 16px; color: green; font-family: century gothic;">{{userAdded}}</h3>
						<br>
						{% endif %}
						<button type="submit" name="submit" class="btn basic-btn" id="login-btn" value="Add Single">Add Single</button>								
					</form>
					<br><hr><br>
					<form method="POST" action="" enctype="multipart/form-data">
						<div style="font-size: 18px; color: grey; font-family: century gothic;"><b>Add multiple students to this course using a CSV file: </b>
						<br><br>
						<div style="font-size: 16px; color: grey; font-family: century gothic;">Download the template: 
						{% csrf_token %}
						<button type="submit" name="dlCSV" class="btn btn-warning" value="DOWNLOAD">Download</button>
						<br><br>
						</div>
					</form>
					<form method="POST" action="" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="file" name="csvFile" accept=".csv" required>
						<br>
						<button type="submit" name="submit" class="btn basic-btn" id="login-btn" value="Add Multiple" >Add Multiple</button>
					</form>	
					<h3 style="font-size: 16px; color: red; font-family: century gothic;">{{notAdded}}</h3>
					<br>
					{% endif %}
					<table class="table" style="width:100%; border-collapse: collapse " >
	  					<thead>
		  					<tr>
			  					<th>Username</th>
			    				<th>Firstname</th>
			    				<th>Lastname</th> 
			    				<th>Email</th>
		    				</tr>
	    				</thead>
	    				<tbody>
	    				{% for c in studentList %}
	    					{%if c.user.status != "Teacher"%}
			    				<tr>
			    				<td>{{c.user.username}}</td>
			    				<td>{{c.user.first_name}}</td>
			    				<td>{{c.user.last_name}}</td> 
			    				<td>{{c.user.email}}</td>
			    				{%if user.status == "Teacher"%}
			    				<td>
				    				<form method="POST" action=""> 
										{% csrf_token %}
										<button type="submit" onclick="return confirm('Are you sure you want to remove this user from your course?')" class="btn btn-danger" name="delete" value="{{c.id}}"> &#10006;</button>
									</form>
								</td>
			    				</tr>
			    				{% endif %}
			    			{% endif %}
			    			
	    				{% endfor %}
	    				</tbody>
    				</table>
				</td>
			</tr>

		</table>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{% static 'js/style.js' %}"></script>
	</body>
</html>