<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title> Amesite Chat Responder </title>
		<style>
			.btn {
			 	text-decoration: none;
			 	cursor: pointer; 
			 	font-size: 18px; 
			 	font-family: century gothic; 
			 	color: #444;
			 }
			 
			 .btn:hover {
			 	text-decoration: underline;
			 }
		</style>
	</head>
	<body>    
		<header width="60%" align="center" height="50px" style="line-height: 56px; text-align: center; font-size: 30px; color: #444; font-family: century gothic; font-weight: normal;">
			Amesite Chat Responder	
		</header>
		<br>
		<table width="60%" align="Center">
			<tr>
				<td>
					<a href="/question/?id={{courseID}}" class="btn">< Back</a> 
					<div align="right" style="float: right; font-size: 18px; font-family: century gothic; color: #444;">
						Hi {{user.get_short_name}}!
						<br>
						<form method="POST" action=""> 
							{% csrf_token %}
							<input type="submit" name="Logout" value="Logout" class="btn" style="font-size: 16px; background-color: transparent; box-shadow: none; border: 0;">
						</form>
					</div>
					<br><br><br><br>
				</td>
			</tr>
			<tr>
				<td style="padding:5px; font-size: 22px; color: #444; font-family: century gothic;">
					Roster
				</td>
			</tr>
			<tr>
				<td height="3px" style="background-color: #AEADAD;"></td>
			</tr>
			<tr>
				<td><br></td>
			</tr>
			<tr>
				<td style="padding: 10px;">
					<form method="POST" action="" style="">
						<h3 style="font-size: 16px; color: red; font-family: century gothic;">{{credentialmismatch}}</h3>
						
						<div style="font-size: 16px; color: grey; font-family: century gothic;"><b>Add a student or teaching assistant to this course</b></div>
						<br>
						<label style="font-size: 16px; color: grey; font-family: century gothic;">Student/TA Username: </label><br>
						{% csrf_token %}
						<input type="text" name="newUser" required="required" maxlength="30" style="width: 50%;"></input>	
						<br>
						<h3 style="font-size: 16px; color: green; font-family: century gothic;">{{userAdded}}</h3>
						<br><br>
						<input type="submit" name="submit" value="Submit" style="cursor: pointer; font-size: 16px; color: #444; background-color: #cecece; font-family: century gothic; box-shadow: none; border: 0; padding: 5px 10px;">								
					</form>
					<br>
					<form method="POST" action="" enctype="multipart/form-data">
						<div style="font-size: 16px; color: grey; font-family: century gothic;"><b>Add multiple students to this course using a CSV file: </b>
						{% csrf_token %}
						<input name="csvFile" type="file" accept=".csv">
						</div>
						<input type="submit" name="submit" value="ADD STUDENTS" style="cursor: pointer; font-size: 16px; color: #444; background-color: #cecece; font-family: century gothic; box-shadow: none; border: 0; padding: 5px 10px;">	
					</form>	
					<br> 
					
					<h3 style="font-size: 16px; color: red; font-family: century gothic;">{{notAdded}}</h3>
					<br>
					
					<table style="width:100%; border: 1px solid black; border-collapse: collapse " >
  					<tr>
  					<th style="border: 1px solid black" >Username</th>
    				<th style="border: 1px solid black" >Firstname</th>
    				<th style="border: 1px solid black" >Lastname</th> 
    				<th style="border: 1px solid black" >Email</th>
    				</tr>
    				{% for c in studentList %}
    					{%if c.user.status != "Teacher"%}
		    				<tr>
		    				<td style="border: 1px solid black" >{{c.user.username}}</td>
		    				<td style="border: 1px solid black" >{{c.user.first_name}}</td>
		    				<td style="border: 1px solid black" >{{c.user.last_name}}</td> 
		    				<td style="border: 1px solid black" >{{c.user.email}}</td>
		    				</tr>
		    			{% endif %}
    				{% endfor %}

				</td>
			</tr>

		</table>
		
	</body>
</html>